{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section class="content-20 v-center bg-gray first-section">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Reset your password</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger" role="alert">
                                Please fill out a form correctly.
                            </div>
                        {% endif %}

                        <div class="signup-form">
                            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="clearfix" style="width: 100%;">
                                {{ form_widget(form) }}
                                <button class="btn btn-huge btn-info">{{ 'resetting.reset.submit'|trans }}</button>
                                {{ form_rest(form) }}
                            </form>
                        </div>

                        <h6 class="p-t-30">Sign in</h6>
                        If you remember your credentials, <a href="{{ path('fos_user_security_login') }}">log in</a>.
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}