<footer class="footer-7 ">
    <div class="container">
        <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/webdnaapp/frontend/img/logo_sm.png') }}" alt="WEBDNA logo"/></a>
        <nav>
            <ul>
                <li><a href="{{ url('page_about_us') }}">ABOUT US</a></li>
                <li><a href="{{ url('page_faq') }}">FAQ</a></li>
                <li class="scroll-btn"><a href="#" class="scroll-top fui-arrow-up"></a></li>
                <li><a href="http://blog.webdna.io/" target="_blank">BLOG</a></li>
                <li><a href="{{ url('contact_form') }}">CONTACT</a></li>
            </ul>
        </nav>
        <div class="social-btns">
            <a href="https://twitter.com/WebDNAio" target="_blank">
                <div class="fui-twitter"></div>
                <div class="fui-twitter"></div>
            </a>
            <a href="https://www.linkedin.com/company/web-dna" target="_blank">
                <div class="fui-linkedin"></div>
                <div class="fui-linkedin"></div>
            </a>
            <a href="https://www.facebook.com/WebDNA.io" target="_blank">
                <div class="fui-facebook"></div>
                <div class="fui-facebook"></div>
            </a>
            <a href="https://plus.google.com/+WebdnaIoapp" target="_blank">
                <div class="fui-googleplus"></div>
                <div class="fui-googleplus"></div>
            </a>
            <a href="http://youtube.com/user/webdnaio" target="_blank">
                <div class="fui-youtube"></div>
                <div class="fui-youtube"></div>
            </a>
        </div>
    </div>
</footer>